<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qi.uiproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.LoadMoreRecyclerViewActivity"></activity>
        <activity android:name=".ui.DouYinActivity" />
        <activity android:name=".ui.MapActivity" />
        <activity android:name=".ui.TaoBaoHomeActivity" />
        <activity android:name=".ui.VLayoutActivity" />
        <activity android:name=".ui.NestedLinearLayoutActivity" />
        <activity android:name=".ui.GiftActivity" />
        <activity android:name=".ui.CubicActivity" />
        <activity android:name=".ui.QuadToActivity" />
        <activity android:name=".ui.PathMeasureActivity" />
        <activity android:name=".ui.SplashActivity" />
        <activity android:name=".ui.MyAttrsActivity" />
        <activity android:name=".ui.MaterialTestActivity" />
        <activity android:name=".ui.AnimationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>